@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #333333;
  background-color: #07cdc0;
}

h2 {
  font-size: 2rem;
  color: #503a35;
  text-align: center;
}

h1 h2 {
  text-align: center;
}

.navbar {
  position: relative;
  height: auto;
  height: 100px;
}
.navbar .logo {
  max-height: 180px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .navbar-brand {
    max-width: 140px;
    margin-bottom: 10px;
    transform: translateY(-30px);
  }
  .navbar-toggler {
    font-size: 1.25rem;
    transform: translateY(-35px);
  }
  .navbar-collapse {
    position: absolute;
    width: 100%;
    background-color: #343a40;
    top: 100px;
    box-sizing: border-box;
    left: 0;
    z-index: 1;
    transform: translateX(-100%);
  }
  .navbar-collapse.show {
    transform: translateX(0);
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .navbar-brand {
    font-size: 1.5rem;
    transform: translateY(-40px);
    margin-bottom: 15px;
  }
  .navbar-toggler {
    font-size: 1.5rem;
    transform: translateY(-30px);
    margin-bottom: 15px;
  }
  .navbar-brand img {
    max-height: 130px;
    max-width: 100%;
    height: 150px;
  }
  .navbar-collapse {
    position: absolute;
    width: 100%;
    background-color: #343a40;
    top: 100px;
    box-sizing: border-box;
    left: 0;
    z-index: 1;
    transform: translateX(-100%);
  }
  .navbar-collapse.show {
    transform: translateX(0);
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer img {
  filter: invert(1);
}

.footer-m {
  margin-top: 50px;
}

.texto {
  color: #ddd;
}

.icon-container a:hover .facebook {
  filter: invert(57%) sepia(90%) saturate(4104%) hue-rotate(208deg) brightness(93%) contrast(89%);
}

.icon-container a:hover .insta {
  filter: invert(24%) sepia(94%) saturate(3800%) hue-rotate(325deg) brightness(90%) contrast(107%);
}

@media screen and (min-width: 768px) {
  .icon-container {
    justify-content: center;
    margin-left: 135px;
    margin-bottom: 10px;
  }
}
.text-size {
  font-size: 3.1em;
  font-family: "Poppins", sans-serif;
}

.text-sizep {
  font-size: 1.7em;
  font-family: "Roboto", sans-serif;
}

.feature-box {
  background-color: #f2f2f2;
  margin: 0 20px;
  padding: 20px;
  border: 1px solid black;
}

.my-auto {
  font-family: "Roboto", sans-serif;
}

.btn:hover {
  color: #ffffff;
  transition: all 0.4s ease-in-out;
  transform: scale(1.2);
}

.btn {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .text-size {
    font-size: 2.7em;
    margin-top: 40px;
  }
  .text-sizep {
    font-size: 1.4em;
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .img-fluid {
    width: 550px;
    height: 550px;
    margin-left: 30px;
  }
  .feature-box {
    max-width: 300px;
    height: 300px;
    padding: 20px;
    margin: 0 10px;
    text-align: center;
  }
  .text-size {
    font-size: 2.9em;
    margin-top: 40px;
  }
  .text-sizep {
    font-size: 1.6em;
    margin-bottom: 25px;
  }
}
.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.contenedor-productos .producto {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.contenedor-productos .producto:hover {
  transform: scale(1.1);
  transition: transform 0.4s ease;
  background-color: #eee;
  box-shadow: 5px 5px 10px 10px #000000;
}
.contenedor-productos .producto img {
  max-width: 100%;
  height: auto;
  max-height: 250px;
}
.contenedor-productos .producto h3 {
  margin-top: 5px;
  font-size: 25px;
}

.productos {
  background-color: #343a40;
}

@media (max-width: 767px) {
  .contenedor-productos {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .contenedor-productos {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .contenedor {
    flex-direction: column;
    align-items: stretch;
    margin-top: 25px;
    padding: 0;
  }
  .empresa-img {
    margin-right: 0;
  }
  .empresa-img img {
    height: auto;
    max-width: 100%;
  }
  .empresa-content {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .nosotros {
    font-size: 22px;
  }
}
.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 15px;
  background-color: #4B4F53;
}

.empresa-img {
  flex: 1;
  margin-right: 10px;
  padding-right: 10px;
  background-color: #4B4F53;
  width: 100%;
  height: auto;
}

.empresa-img img {
  max-width: 100%;
  height: 70vh;
}

.empresa-content {
  flex: 1;
  background-color: #787F85;
  margin-bottom: -30px;
  margin-top: 10px;
  padding: 25px;
  margin-bottom: 10px;
  margin-right: 15px;
}
.empresa-content h2 {
  position: relative;
  top: -30px;
  font-family: "Vina Sans", cursive;
  font-size: 80px;
  box-shadow: 0 0 5px;
  background-color: #787F85;
  color: #f2f2f2;
}
.empresa-content .nosotros {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  padding: 15px;
  margin-top: -30px;
  line-height: 1.5;
  color: #f2f2f2;
}

@media screen and (max-width: 768px) {
  .contenedor {
    flex-direction: column;
    align-items: center;
  }
  .empresa-img img {
    height: 40vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .empresa-content {
    margin-top: 50px;
    padding: 20px;
    margin-right: -5px;
    margin-left: -15px;
  }
  .empresa-content .nosotros {
    font-size: 30px;
    padding: 10px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .contenedor {
    flex-direction: column;
    margin-top: -1px;
    align-items: center;
  }
  .empresa-img img {
    height: 65vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .empresa-content {
    margin-top: 50px;
    padding: 20px;
  }
  .empresa-content .nosotros {
    font-size: 25px;
    padding: 10px;
  }
}
.accordion {
  margin-bottom: 30px;
  padding: 50px;
}
.accordion .card {
  margin: 20px;
}
.accordion .card .card-header button {
  font-family: "Oswald", sans-serif;
  font-size: 25px;
}
.accordion .card .card-body {
  font-family: "Oswald", sans-serif;
  font-size: 25px;
}

.container-preguntas h1 {
  font-family: "Vina Sans", cursive;
  font-size: 100px;
}

.boton {
  background-color: #523a34;
  color: #fff;
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5rem;
  width: 90%;
  text-align: center;
  border: none;
}
.boton:hover {
  cursor: pointer;
}

.contacto {
  background-color: #f2f2f2;
  padding: 30px 0;
}
.contacto .tituloSecundario {
  text-align: center;
  margin-bottom: 30px;
}
.contacto .tituloSecundario h2 {
  font-size: 36px;
  color: #333;
}
.contacto .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 70px;
  margin: 0 auto;
  max-width: 1200px;
}
.contacto .grid .textosContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contacto .grid .textosContacto h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
.contacto .grid .correoContacto {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.contacto .grid .correoContacto img {
  width: 25px;
  margin-bottom: 10px;
}
.contacto .grid .correoContacto p {
  font-size: 20px;
  color: #333;
  margin-left: 10px;
}
.contacto .grid .formulario {
  background-color: #fff;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.contacto .grid .formulario fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.contacto .grid .formulario fieldset legend {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}
.contacto .grid .formulario fieldset .contenedorCampos {
  display: flex;
  flex-direction: column;
}
.contacto .grid .formulario fieldset .contenedorCampos .campo {
  margin-bottom: 20px;
}
.contacto .grid .formulario fieldset .contenedorCampos .campo label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}
.contacto .grid .formulario fieldset .contenedorCampos .campo input,
.contacto .grid .formulario fieldset .contenedorCampos .campo textarea {
  width: 100%;
}

@media (max-width: 767px) {
  .contacto .grid {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  .contacto .textosContacto,
  .contacto .correoContacto {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .contacto .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .contacto .correoContacto {
    justify-content: center;
    margin-top: 20px;
  }
  .contacto .correoContacto img {
    margin-right: 0;
  }
  .contacto .formulario {
    padding: 30px;
  }
  .contacto .campo {
    margin-bottom: 15px;
  }
  .contacto label {
    font-size: 16px;
  }
}
@media (min-width: 320px) and (max-width: 482px) {
  .textosContacto {
    overflow: hidden;
    padding: 10px;
  }
  .textosContacto h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .correoContacto {
    display: flex;
    align-items: center;
  }
  .correoContacto img {
    width: 20px;
    margin-right: 10px;
  }
  .formulario {
    margin-top: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
