.boton {
    background-color: #523a34;
    color: $color3;
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5rem;
    width: 90%;
    text-align: center;
    border: none;


    &:hover {
        cursor: pointer;
    }
}

.contacto {
    background-color: $color2;
    padding: 30px 0;

    .tituloSecundario {
        text-align: center;
        margin-bottom: 30px;

        h2 {
            font-size: 36px;
            color: $color5;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 70px;
        margin: 0 auto;
        max-width: 1200px;

        .textosContacto {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-size: 25px;
                margin-bottom: 20px;
            }
        }

        .correoContacto {
            display: flex;
            align-items: center;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;

            img {
                width: 25px; 
                margin-bottom: 10px;
            }

            p {
                font-size: 20px;
                color: $color5;
                margin-left: 10px;
            }
        }

        .formulario {
            background-color: $color3;
            padding: 50px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            border-radius: 5px;

            fieldset {
                border: none;
                margin: 0;
                padding: 0;

                legend {
                    font-size: 24px;
                    margin-bottom: 20px;
                    color: $color5;
                }

                .contenedorCampos {
                    display: flex;
                    flex-direction: column;

                    .campo {
                        margin-bottom: 20px;

                        label {
                            display: block;
                            font-size: 18px;
                            margin-bottom: 10px;
                            color: $color5;
                        }

                        input,
                        textarea {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 767px) {
    .contacto .grid {
      grid-template-columns: 1fr;
      max-width: 100%;
    }
    .contacto .textosContacto,
    .contacto .correoContacto {
      margin-bottom: 20px;
    }
  }
  @media (min-width: 768px) and (max-width: 992px) {
    .contacto .grid {
      grid-template-columns: repeat(1, 1fr);
    }
    .contacto .correoContacto {
      justify-content: center;
      margin-top: 20px;
    }
    .contacto .correoContacto img {
      margin-right: 0;
    }
    .contacto .formulario {
      padding: 30px;
    }
    .contacto .campo {
      margin-bottom: 15px;
    }
    .contacto label {
      font-size: 16px;
    }
  }

  @media (min-width: 320px) and (max-width: 482px) {
    .textosContacto {
      overflow: hidden;
      padding: 10px;
    }

    .textosContacto h2 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .correoContacto {
      display: flex;
      align-items: center;
    }

    .correoContacto img {
      width: 20px;
      margin-right: 10px;
    }

    .formulario {
      margin-top: 20px;
    }
  }
  