@import "../base/mixins";

.footer {
    @include center-vertical;

    img {
        filter: invert(1);
    }
}

.footer-m {
    margin-top: 50px;
}

.texto {
    color: #ddd;
}

@media screen and (min-width: 768px) {

    .icon-container {
        justify-content: center;
        margin-left: 135px;
        margin-bottom: 10px;

    }


}