@import "./mixins";

* {
    @include reset;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    background-color: #07cdc0
}


h2 {
    font-size: 2rem;
    color: #503a35;
    text-align: center;
}

h1 h2 {
    text-align: center;
}



