@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Vina+Sans&display=swap");

$color1: #343a40;





$font1: 'Vina Sans', cursive;
$font2: 'Oswald', sans-serif;
$font3: 'Poppins', sans-serif;