@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Vina+Sans&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@200&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');

$color1: #343a40;
$color2: #f2f2f2;
$color3: #fff;
$color4: #07cdc0;
$color5: #333;



$font1: 'Vina Sans', cursive;
$font2: 'Oswald', sans-serif;
$font3: 'Poppins', sans-serif;
$font4: 'Roboto', sans-serif;
$font5: 'Montserrat', sans-serif;